<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Editar Plancha</h3>
</div>

<div class="modal-body" id="modal-body">

   <div>
   	<input class="text-pequenio2" type="text" ng-model="plancha.Nombre" name="">
   	 <button class="btn btn-sm waves-effect waves-light btn-info btn-sm" ng-click="Editar_planch(plancha)">Cambiar</button>
   	 <button class="btn btn-sm waves-effect waves-light btn-danger btn-sm" ng-click="Eliminar_plancha(plancha)" >eliminar</button>
   </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">Cerrar</button>
</div>
