
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Seleccione Plancha</h3>
</div>

<div class="modal-body" id="modal-body">

   <div>
   	<input class="text-pequenio2" type="text" ng-model="plancha_nueva.Nombre" name="">
   	 <button class="btn btn-sm waves-effect waves-light btn-info btn-sm" ng-click="Craer_plancha(plancha_nueva.Nombre)">Añadir Plancha</button>
   </div>

        


</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">Cerrar</button>
</div>
